{% extends "dtm/admin/list.html" %}
{% load i18n admin_urls static admin_list %}

{% block extrahead %}
{{ block.super }}
<script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
<script>
    $(function() {
        $('.js-autosubmit').on('change', function(e) {

            if (e.target.value && e.target.form) {
                e.target.form.submit();
            }
        });
    });
</script>

<style>

.hoverable-highlight {
    opacity: 0.5;
}

.hoverable-highlight:hover {
    opacity: 1;
}

</style>

{% endblock %}

{% block result_list %}

<div id="changelist">
    <div class="module">
        <h1>
            <span style="font-size: 1.4em;">{% trans 'Project translations' %}</span>
            <div class="help">
                {% blocktrans %}
                    This is the main section, where most of translation texts are located.
                    Other sections may be changed, but most of time it's an unnecessary action.
                {% endblocktrans %}
            </div>
        </h1>
        {% include "dtm/admin/list_translations--section.html" with section=objects.project %}
    </div>
    <!--
    <div class="module"><br/><br/><br/><br/><br/><br/></div>

    <div class="hoverable-highlight">
        <div class="module">
            <h1>{% trans 'Third party translations' %}</h1>
            {% include "dtm/admin/list_translations--section.html" with section=objects.third_party %}
        </div>

        <div class="module">
            <h1>{% trans 'Django internal translations' %}</h1>
            {% include "dtm/admin/list_translations--section.html" with section=objects.django %}
        </div>
    </div>
    -->
</div>

{% endblock %}
