{% load i18n admin_urls static admin_list %}

{% for language in section %}
    <div class="module">
        <div class="results">
            <h2>
                {{ language.name }} <small>({{ language.code }})</small>
            </h2>
            <table>
                <thead>
                    <tr>
                        <th scope="col" class="column-file-path">
                            <div class="text"><span>{% trans 'File path' %}</span></div>
                            <div class="clear"></div>
                        </th>
                        <th scope="col" colspan="2" class="column-actions action-checkbox-column">
                            <div class="text"><span></span></div>
                            <div class="clear"></div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for file in language.files %}
                        <tr class="row1">
                            <th class="field-file-path">{{ file.name }}</th>
                            <th class="action-checkbox-column" style="text-align: right">
                                    <form
                                        method="post"
                                        enctype="multipart/form-data"
                                        action="{% url 'dtm:upload' %}"
                                        novalidate
                                    >
                                        {% csrf_token %}
                                        <input type="hidden" name="path" value="{{ file.path }}" />
                                        <label style="cursor: pointer">
                                            <input type="file" name="file" style="display: none" class="js-autosubmit" />
                                            <span class="addlink">{% trans 'Upload' %}</span>
                                        </label>
                                        <input type="submit" style="display: none" />
                                    </form>
                                </div>
                            </th>
                            <th class="field-actions action-checkbox-column" style="text-align: right">
                                <a href="{% url 'dtm:download' %}?path={{ file.path|urlencode }}">Download</a>
                            </th>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% empty %}

<ul class="messagelist">
    <li class="warning">There is no files in this section.</li>
</ul>

{% endfor %}
